<div class="col-md-12">
    <div ng-controller="DocumentationController">
        <h1>Generic table for Angular</h1>
        <h2>Usage</h2>
        <p class="text-justify">The generic-table needs three things to work: <strong>settings</strong>, <strong>field definitions</strong> and <strong>data</strong>, totals is optional.</p>
        <br>
        <h4>Settings</h4>
        <pre>
            <code class="line-numbers language-javascript" prism>
                settings:[{
                    objectKey:'name', // key for mapping column with data and totals
                    visible:true, // should column be visible
                    enabled:true, // should column be enabled (required for filters to work)
                    sort:'false', // should column be sortable
                    sortOrder:0, // sort order of column, 0 will be sorted first
                    columnOrder:0, // column order, starting from the left with zero
                    export:false // should column be exported to CSV (OPTIONAL)
                }]
            </code>
        </pre>
        <br>
        <h4>Field definitions</h4>
        <pre>
            <code class="line-numbers language-javascript" prism>
                fields:[{
                    name:'Name', // name or label of the field, will be displayed as heading for column,
                    stackedHeading:true, // true or custom name, used for showing column headings when columns are stacket using table-stacked class, (OPTIONAL),
                    type:"STRING", // type of data, i.e. STRING, NUMBER etc (DEPRECATED),
                    objectKey:'name', // key for mapping column with settings and totals,
                    classNames:"my-custom-class" // custom class names appended to the column,
                    render: function(row,column){ return '&lt;span&gt;'+row[column]+'&lt;/span&gt;';} // custom function for column presentation (OPTIONAL),
                    compile: true // should field be compiled, true, false or scope to compile, false by default (OPTIONAL),
                    value: function(row,column){ return row[column]/2;} // custom function for column value if no data exists for column in data array (OPTIONAL),
                    click: function(){ return console.log('column clicked);} // click function for column (OPTIONAL),
                    expand: "&lt;my-directive&gt;&lt;/my-directive&gt;" // expand (open/close) row when clicked and add this as content (could be a directive or plain html) (OPTIONAL),
                    export: function(row,column){ return parseFloat(row[column]);} // custom function for export presentation (OPTIONAL),
                    exportEscapeString: true, // should field be escaped when exported, true by default (OPTIONAL),
                    search: function(row, column){ return row[column]; } // custom function for searching field, if field shouldn't be searchable change function to false, true (search using data value) by default (OPTIONAL)
                }]
            </code>
        </pre>
        <br>
        <h4>Data</h4>
        <pre>
            <code class="line-numbers language-javascript" prism>
                data:[{
                    name:"some data" // array of objects with keys corresponding to the object keys defined in settings and field definitions
                }]
            </code>
        </pre>
        <br>
        <h4>Totals (optional)</h4>
        <pre>
            <code class="line-numbers language-javascript" prism>
                totals:{
                    name:"my summary" // object with keys corresponding to the object keys defined in settings and field definitions
                }
            </code>
        </pre>
        <br>
        <h3>Attribute options</h3>
        <p class="text-justify">Directive attributes available for generic-table directive.</p>
        <generic-table gt-data="optionsTable.data" gt-settings="optionsTable.settings" gt-fields="optionsTable.fields" gt-pagination=false></generic-table>
        <br>
        <h3>Events</h3>
        <p class="text-justify">Events emitted by the table.</p>
        <generic-table gt-data="eventsTable.data" gt-settings="eventsTable.settings" gt-fields="eventsTable.fields" gt-pagination=false></generic-table>
        <br>
        <h3>Event listeners</h3>
        <p class="text-justify">Use event listeners to change/update table data, table settings and field definitions. The table will also listen for changes to row length ie. how many rows should be displayed.</p>
        <generic-table gt-data="listenersTable.data" gt-settings="listenersTable.settings" gt-fields="listenersTable.fields" gt-pagination=false></generic-table>
        <br>
        <h3 id="exportOptions">Export to CSV options</h3>
        <p class="text-justify">Pass optional arguments to override the default settings when exporting data to csv.</p>
        <generic-table gt-data="exportOptionsTable.data" gt-settings="exportOptionsTable.settings" gt-fields="exportOptionsTable.fields" gt-pagination=false></generic-table>
        <h3>Responsive layout</h3>
        <p class="text-justify">Add <code>table-stacked</code> class to gt-classes (like you do for other bootstrap classes) to get stacked columns on small screens i.e. mobile devices.</p>
        <p class="text-justify">By default the css uses bootstrap's screen-xs-max value of 768 px but you could as easily write your own media query and use another value. If you want headings for each column, add <code>stackedHeading</code> key to your field settings object. Use <code>true</code> if you want to reuse the same label/name you've already declared or enter a custom string if you want something else. See advance example implementation below. </p>

    </div>
    <div ng-controller="BasicExampleController">
        <br>
        <h2>Examples</h2>
        <h3>Basic example with static data</h3>
        <a ng-click="example = example === true ? false:true;" class="link">
            <span ng-show="!example">Show code</span>
            <span ng-show="example">Hide code</span>
        </a>
        <div ng-if="example">
            <h4>Markup</h4>
            <pre>
            <code class="line-numbers language-markup" prism>
                &lt;generic-table gt-data=&quot;basicTable.data&quot; gt-settings=&quot;basicTable.settings&quot; gt-fields=&quot;basicTable.fields&quot; gt-totals=&quot;basicTable.totals&quot; gt-rows=&quot;5&quot;&gt;&lt;/generic-table&gt;
            </code>
            </pre>
            <h4>Javascript</h4>
            <pre>
            <code class="line-numbers language-javascript" prism>
                angular.module('angular.generic.table').controller('BasicExampleController',function($scope){
                    // Basic table with static data
                    $scope.basicTable = {
                        settings: [
                            {
                                objectKey:'city',
                                visible:true,
                                enabled:true,
                                sort:'enable',
                                sortOrder:1,
                                columnOrder:0
                            },{
                                objectKey:'numberOfCats',
                                visible:true,
                                enabled:true,
                                sort:'enable',
                                sortOrder:0,
                                columnOrder:1
                            }
                        ],
                        fields:[
                            {
                                name:'City',
                                type:"STRING",
                                objectKey:'city',
                                classNames:""
                            },{
                                name:'Number of cats',
                                type:"NUMBER",
                                objectKey:'numberOfCats',
                                classNames:"text-right"
                            }
                        ],
                        data:[{
                            "city": "Juliaca",
                            "numberOfCats": 149639
                        }, {
                            "city": "Watergrasshill",
                            "numberOfCats": 436290
                        }, {
                            "city": "Dondar Quşçu",
                            "numberOfCats": 725965
                        }, {
                            "city": "Florida",
                            "numberOfCats": 258855
                        }, {
                            "city": "Sosnovyy Bor",
                            "numberOfCats": 486188
                        }, {
                            "city": "Bogdanovich",
                            "numberOfCats": 691411
                        }, {
                            "city": "Zaragoza",
                            "numberOfCats": 304539
                        }, {
                            "city": "Karlstad",
                            "numberOfCats": 364097
                        }, {
                            "city": "Tanjay",
                            "numberOfCats": 970819
                        }, {
                            "city": "Troparëvo",
                            "numberOfCats": 768663
                        }]
                    };
                });
            </code>
            </pre>
        </div>
        <generic-table gt-data="basicTable.data" gt-settings="basicTable.settings" gt-fields="basicTable.fields" gt-totals="basicTable.totals" gt-rows="5"></generic-table>
    </div>
    <div ng-controller="CustomRenderExampleController">
        <h3>Advanced example</h3>
        <p class="text-justify"><strong>Let’s add some features to our example!</strong><br>The example below has support for:
        </p>
        <strong>Table search</strong>
        <p class="text-justify">Search (filter) table with input field, separate search terms with a space “ “. Use field definitions to enable search for a particular field.</p>
        <strong>Filter table</strong>
        <p class="text-justify">Filter table by one or more properties (objectKey). Reset filters by passing an empty object. This examples uses a predefined filter.</p>
        <strong>Export to CSV</strong>
        <p class="text-justify">Use custom export function on field definition to alter the exported value, remove field from export using settings.
        </p>
        <strong>Expanding rows</strong>
        <p class="text-justify">Expand rows and show custom content, why not pass your own directive?
            Access parent scope and row values by setting directive scope to false or if you prefer, pass row object to an isolated scope like this in the expand property of the field definition: <code>expand: &lt;my-custom-directive data-row=”row”&gt;</code>
        </p>
        <strong>Responsive layout</strong>
        <p class="text-justify">Stack column on small screens for better readability and use custom labels/headings if you want to. Try resizing browser to see the result of stacking columns.
        </p>
        <strong>Displaying table information</strong>
        <p class="text-justify">I.e. show total number of entries, filtered entries etc.</p>
        <br>
        <a ng-click="example = example === true ? false:true;" class="link">
            <span ng-show="!example">Show code</span>
            <span ng-show="example">Hide code</span>
        </a>
        <div ng-if="example">
            <h4>Markup</h4>
        <pre>
            <code class="line-numbers language-markup" prism>
                <form class="form-inline">
                    <div class="form-group"><input class="form-control" role="search" placeholder="Search table" ng-model="searchField" ng-change="searchTable(searchField)"/></div>
                    <div class="form-group"><button class="btn btn-default btn-block" ng-click="applyFilters()">Apply predefined filters</button></div>
                    <div class="form-group"><button class="btn btn-default btn-block" ng-click="resetFilters()">Reset filters</button></div>
                    <div class="form-group" ng-show="tableInfo.filtered!==tableInfo.total"><span class="form-control-static">&nbsp;Showing {{tableInfo.showingFrom}} to {{tableInfo.showingTo}} of {{tableInfo.filtered}} entries (filtered from a total of {{tableInfo.total}} entries).</span>&nbsp</div>
                    <div class="form-group"><button class="btn btn-default btn-block" ng-click="exportCsv()">Export to CSV</button></div>
                </form>
                <generic-table gt-classes="table-stacked" gt-settings="tableCustomRender.settings" gt-fields="tableCustomRender.fields" gt-totals="tableCustomRender.totals" gt-rows="25" gt-id="tableCustomRender.id"></generic-table>
            </code>
        </pre>
            <h4>Javascript</h4>
        <pre>
            <code class="line-numbers language-javascript" prism>
                angular.module('angular.generic.table').controller('CustomRenderExampleController',function($scope, mockService,$filter,$sce){

                    // function for exporting to csv
                    $scope.exportCsv = function() {
                        $scope.$broadcast('gt-export-csv:'+$scope.tableCustomRender.id);
                    };

                    // function for searching table
                    $scope.searchTable = function(string) {
                        $scope.$broadcast('gt-search-table:'+$scope.tableCustomRender.id,string);
                    };

                    // listen for table info events
                    $scope.$on('gt-table-filtered',function(event,arg){
                        $scope.tableInfo = arg;
                    });

                    // function for applying filters
                    $scope.applyFilters = function() {
                        var filters = {
                            'fullName':['Gregory Little','Billy Gilbert','Jason Snyder','Brandon Austin'],
                            'age':[53,39,18]
                        };
                        $scope.$broadcast('gt-filter-table:'+$scope.tableCustomRender.id,filters);
                    };

                    // function for resetting filters
                    $scope.resetFilters = function() {
                        var filters = {};
                        $scope.$broadcast('gt-filter-table:'+$scope.tableCustomRender.id,filters);
                    };

                    // Table with custom render function
                    $scope.tableCustomRender = {
                        settings: [
                            {
                                objectKey:'fullName',
                                visible:true,
                                enabled:true,
                                sort:'asc',
                                sortOrder:0,
                                columnOrder:0
                            },{
                                objectKey:'favoriteColor',
                                visible:true,
                                enabled:true,
                                sort:'disabled',
                                sortOrder:0,
                                columnOrder:4
                            },{
                                objectKey:'birthday',
                                visible:true,
                                enabled:true,
                                sort:'enable',
                                sortOrder:0,
                                columnOrder:1
                            },{
                                objectKey:'age',
                                visible:true,
                                enabled:true,
                                sort:'disable',
                                sortOrder:0,
                                columnOrder:2
                            },{
                                objectKey:'details',
                                visible:true,
                                enabled:true,
                                sort:'disable',
                                sortOrder:0,
                                columnOrder:5,
                                export:false
                            }

                        ],
                        fields:[
                            {
                                name:"Favorite color",
                                stackedHeading:'Custom heading for stacked',
                                type:"STRING",
                                objectKey:'favoriteColor',
                                classNames:"text-right middle",
                                render:function(row){return '&lt;div style="float:right;width:15px;height:15px;border-radius:50%;background: '+row.favoriteColor+'"&gt;&lt;/div&gt;'},
                                search:false
                            },{
                                name:"Birthday",
                                stackedHeading:true,
                                type:"DATE",
                                objectKey:'birthday',
                                classNames:"",
                                render: function(row){return moment.unix(row.birthday).format('YYYY-MM-DD')}
                            },{
                                name:'Name',
                                stackedHeading:true,
                                type:"STRING",
                                objectKey:'fullName',
                                classNames:""
                            },{
                                name:'Age',
                                stackedHeading:true,
                                type:"NUMBER",
                                objectKey:'age',
                                classNames:"text-right",
                                render: function(row){return moment().diff(moment.unix(row.birthday),'years')},
                                value: function(row){return moment().diff(moment.unix(row.birthday),'years')}
                            },{
                                name:'Details',
                                stackedHeading:false,
                                type:"NUMBER",
                                objectKey:'details',
                                classNames:"text-right hidden-stacked",
                                render: function(row, column){ return '&lt;a&gt;{{row.isOpen ? "Hide":"Show"}}&lt;/a&gt;'},
                                compile:true,
                                value: function(row){return 'details'},
                                expand:'&lt;custom-dir&gt;&lt;/custom-dir&gt;',
                                search:false
                            }
                        ],
                        data:[]
                    };

                    mockService.getJsonData().then(function(res){
                        $scope.$broadcast("update-table", res);
                    });


                }).factory('mockService',function($resource, $http) {

                    /* remote service example
                    function getData () {
                        var url = 'http://example.com/json.json';
                        return $http.jsonp(url).then(function (response) {
                            return response.data;
                        });

                    }*/

                    function getJsonData(){
                        var url = 'mock-data.json';
                        return $http.get(url).then(function (response) {
                            //console.log(response.data);
                            return response.data;
                        });
                    }

                    return {
                        "getJsonData":getJsonData
                    };
                }).directive('customDir', function() {
                    return {
                        replace:true,
                        template:'&lt;div&gt;&lt;div class="pull-left"&gt;&lt;label&gt;Name:&nbsp;&lt;/label&gt;{{row.fullName}}&lt;br&gt;&lt;label&gt;Age:&nbsp;&lt;/label&gt;{{row.age}}&lt;br&gt;&lt;label&gt;Favorite random number:&nbsp;&lt;/label&gt;{{randomNumber}}&lt;br&gt;&lt;a ng-click="update()"&gt;Update&lt;/a&gt;&lt;/div&gt; &lt;a class="pull-right" ng-click="close()"&gt;Close&lt;/a&gt; &lt;/div&gt;',
                        restrict: 'E',
                        link: function(scope, element, attrs, fn) {
                            console.log(scope.row); // log row object
                            scope.close = scope.toggleRow; // assign close function to button in directive
                            scope.randomNumber = Math.random();
                            scope.update = function(){
                                scope.randomNumber = Math.random();
                                console.log('update something');
                            };
                        }
                    };
                });
            </code>
        </pre>
        </div>
        <br/>
        <br/>
        <form class="form-inline">
            <div class="form-group"><input class="form-control" role="search" placeholder="Search table" ng-model="searchField" ng-change="searchTable(searchField)"/></div>
            <div class="form-group"><button class="btn btn-default btn-block" ng-click="applyFilters()">Apply predefined filters</button></div>
            <div class="form-group"><button class="btn btn-default btn-block" ng-click="resetFilters()">Reset filters</button></div>
            <div class="form-group" ng-show="tableInfo.filtered!==tableInfo.total"><span class="form-control-static">&nbsp;Showing {{tableInfo.showingFrom}} to {{tableInfo.showingTo}} of {{tableInfo.filtered}} entries (filtered from a total of {{tableInfo.total}} entries).</span>&nbsp</div>
            <div class="form-group"><button class="btn btn-default btn-block" ng-click="exportCsv()">Export to CSV</button></div>
        </form>
        <generic-table gt-classes="table-stacked" gt-settings="tableCustomRender.settings" gt-fields="tableCustomRender.fields" gt-totals="tableCustomRender.totals" gt-rows="25" gt-id="tableCustomRender.id"></generic-table>
    </div>
</div>
