@import (inline) "../../bower_components/prism/themes/prism-okaidia.css";
@import (inline) "../../bower_components/prism/plugins/line-numbers/prism-line-numbers.css";

// no padding for code examples
pre.line-numbers {
    padding-left: 0;
}
a.link {
    cursor: pointer;
}
tr.expanded-row {
    background: #f1f1f1;
}